body {
   padding-top: 70px;
}
h1 {
   padding-top: 0px !important;
   margin-top: -20px !important;
}
.navbar, .navbar-brand  {
    font-size: 1.5em !important;
}
.btn {
    font-size: 1.2em !important;
}
.gauges {
    width: 100%; 
    height: 25vw; 
    margin: 0 auto;
}
/* Sortable tables */
table.sortable th {
    background-color: #eeeeee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}
td {
    padding-right: 50px !important;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    cursor: default;
}