<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Python DemoApp{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/main.css" rel="stylesheet"/>
		<link href="/static/img/favicon.ico" rel="icon"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

			<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">Python Demo App</a>
						</div>
				
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; Sys Info</a></li>
								<li><a href="/monitor"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp; Realtime Monitor</a></li>
							</ul>
						</div>
					</div>
				</nav>

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<div class="container body-content">{% block content %}{% endblock %}</div>
		<span style="float:right">v1.2.2 [Ben Coleman, 2018] &nbsp;&nbsp;&nbsp;</span>
	</body>
</html>