{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
	<h1><img src="/static/img/flask.png" height="80px"/> Python Flask Demo App</h1>
	<p>
		<br/>
		This is a simple Python Flask demo web app, to be used with Azure, Docker and other demos &amp; lab exercises. <br/>
		The <a href='https://github.com/benc-uk/python-demoapp'>source is on GitHub</a>, and pre-built Docker images are available <a href='https://hub.docker.com/r/bencuk/python-demoapp'></a>on Dockerhub</a>
	</p>
	<p>
		<a class="btn btn-success" href="/monitor">Realtime Monitor</a>
	</p>
</div>
{% endblock %}
